
.paymethod {
	width: 250px;
	height: 150px;
	border: 1px solid black;
	text-align: center;
}

#kakaoPay {
	width: 150px;
	height: 80px;
	text-align: center;
}
.modal1 {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal1-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.reserve_content {
	display: flex;
	justify-content: space-between;
}

.reserve_left, .reserve_right {
	width: 48%;
}

.pointb_box {
	/* margin-bottom: 2px; */
	border: 1px solid black;
}

.pointb_box2 {
	margin-botton: 20px;
	border: 1px solid black;
}

.inner_txt {
	margin: 3px;
	text-align: center;
}

.inner_txt2 {
	margin: 3px;
	text-align: center;
}

.title_box {
	margin-bottom: 10px;
}

label {
	display: block;
	margin: 10px 0 5px;
}

select {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

.info-panel p {
	margin: 10px 0;
}

.reserve_left, .reserve_right {
	border: 1px solid black;
	margin: 10px 10px;
	padding: 10px 10px;
}

#payment {
	text-align: center;
	float: right;
	width: 100px;
	height: 40px;
	background-color: skyblue;
	color: white;
	border: 1px solid black;
}

#teamsymbol {
	width: 100px;
	height: 100px;
}

 .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        /* 모달 내용 */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* 닫기 버튼 */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

