@charset "UTF-8";
   * {margin: 0; padding: 0;
    box-sizing: border-box;}
   
        body {
            font-family: Arial, sans-serif;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        
        .signup-box {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
            border: 1px solid #ddd;
        }
        .signup-box h2 {
            margin-bottom: 20px;
            color: #333;
            text-align: center;
        }

        .signup-box label {
            display: block;
            text-align: left;
            margin: 10px 0 5px;
        }
        /* 
        .signup-box input[type="text"],
        .signup-box input[type="password"],
        .signup-box input[type="email"],
        .signup-box input[type="tel"] {
            width: calc(100% - 90px);
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 8px;
            justify-content: center;
            box-sizing: border-box;
            display: inline-block;
        }
 */
 input {width: 250px;
  height: 40px;
  padding: 10px;
  vertical-align: top;}
 .in-b {width: 360px;}
 
 button {width: 103px;
 height: 40px; }
 
 .verification-container {position: relative;}
  .verification-container .verify-button {
 width: 60px;
  position:absolute;
  left: 190px; }
  
  .verification-container .check-button {
  position:absolute;
  left: 254px; }
  
  
 