<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

		<mapper namespace="com.itwillbs.mapper.adminMapper">
		
		<!-- 공지사항 작성 -->
		<insert id="noticeJoin">
			insert into notice_board (admin_id, notice_sub, notice_cont, notice_cre_date, photo_url, notice_del_at)
			values (#{admin_id}, #{notice_sub}, #{notice_cont}, now(), #{photo_url}, 'N')
		</insert>
		
		<!-- 공지사항 리스트 조회 -->
	 	<select id="noticeList" resultType="Notice_boardDTO">
	 		select * from notice_board
	 	</select>
		
		<!-- 경기일정 등록 -->
		<insert id="scheduleJoin">
			insert into game_schedule (game_date, game_time, stad_id, home_team_id, away_team_id)
			values (#{game_date}, #{game_time}, (select stad_id from team_n_stadium where team_id = #{home_team_id}), #{home_team_id}, #{away_team_id})
		</insert>
		
		<!-- 경기일정 수정 -->
		<insert id="scheduleUpdate">
			update game_schedule
			set(game_date, game_time, stad_id, home_team_id, away_team_id)
				= (#{game_date}, #{game_time}, (select stad_id from team_n_stadium where team_id = #{home_team_id}), #{home_team_id}, #{away_team_id})
			where game_id = #{game_id}
		</insert>
		
		<!-- 경기일정 리스트 조회 -->
	 	<select id="scheduleList" resultType="Game_scheduleDTO">
	 		select * from game_schedule
	 	</select>
		
		<!-- 경기일정 리스트 조회 -->
	 	<select id="ScheduleOne" resultType="Game_scheduleDTO">
	 		select * from game_schedule where game_id = #{game_id}
	 	</select>
		
		
		<!-- 공지사항 리스트 조회 -->
	 	<select id="scheduleList" resultType="Game_scheduleDTO">
	 		select * from game_schedule
	 	</select>
		
		
		<!-- 일반회원 조회 -->
		<select id="generalMemberList" resultType="UserDTO">
			select * from user
			where user_status="USE"
		</select>
		
		<!-- 탈퇴회원 조회 -->
		<select id="withdrawMemberList" resultType="UserDTO">
	        select * from user
	        where user_status="OUT"
		</select>
		
		
	</mapper>
