<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.AnnouncementMapper">

	<!-- Join절 사용하기 위한 resultMap 모두 직접 설정하기 -->
	<resultMap type="com.itwillbs.domain.Question_boardDTO" id="questMap">
		<id property="quest_id" column="quest_id" />
		<result property="quest_id" column="quest_id" />
		<result property="quest_writer_id" column="quest_writer_id" />
		<result property="quest_sub" column="quest_sub" />
		<result property="quest_cont" column="quest_cont" />
		<result property="quest_cre_date" column="quest_cre_date" />
		<result property="quest_cate" column="quest_cate" />
		<result property="quest_public" column="quest_public" />
		<result property="photo_url" column="photo_url" />
		<result property="quest_view" column="quest_view" />
		<result property="quest_del_at" column="quest_del_at" />
		<result property="quest_del_date" column="quest_del_date" />
		<collection property="userList" resultMap="userMap">
		</collection>
	</resultMap>

	<resultMap type="com.itwillbs.domain.UserDTO" id="userMap">
		<result property="user_id" column="user_id" />
		<result property="user_pwd" column="user_pwd" />
		<result property="user_name" column="user_name" />
		<result property="user_nick" column="user_nick" />
		<result property="user_phone" column="user_phone" />
		<result property="user_email" column="user_email" />
		<result property="user_birth" column="user_birth" />
		<result property="join_date" column="join_date" />
		<result property="user_serv_agree" column="user_serv_agree" />
		<result property="user_info_agree" column="user_info_agree" />
		<result property="user_login_time" column="user_login_time" />
		<result property="user_active" column="user_active" />
		<result property="user_status" column="user_status" />
	</resultMap>

	<!-- 공지사항 리스트 조회 -->
	<select id="noticeList" resultType="Notice_boardDTO">
		select * from notice_board
	</select>
	
	<!-- 공지사항 글 내용 조회 -->
		<select id="noticeOneList" resultType="Notice_boardDTO">
		select * from notice_board
		where notice_id = #{notice_id}
	</select>
	
	
	
	

	<!-- 문의 게시글 작성 -->
	<insert id="QuestionJoin">
		insert into question_board (quest_writer_id, quest_sub, quest_cont, quest_cate, quest_public, photo_url)
		values (#{quest_writer_id}, #{quest_sub}, #{quest_cont}, #{quest_cate}, #{quest_public}, #{photo_url})
	</insert>

	<!-- 문의 게시글 목록 조회 -->
	<select id="QuestionList" resultMap="questMap">
		select qb.quest_id, qb.quest_sub, qb.quest_cre_date, u.user_nick,qb.quest_public
		from question_board qb join user u
		on qb.quest_writer_id = u.user_id
		where quest_del_at = 'N'
	</select>
	
	<!-- 문의 게시글 내용 조회 -->
	<select id="QuestionOneList" resultMap="questMap">
		select qb.quest_id, qb.quest_sub, qb.quest_cre_date, u.user_nick,qb.quest_cont,qb.quest_writer_id,qb.quest_cate,qb.quest_public
		from question_board qb join user u
		on qb.quest_writer_id = u.user_id
		where quest_id = #{quest_id}
	</select>
	
	<!-- 문의 게시글 내용 수정 -->
	<update id="bulletinModify">
		update question_board set quest_sub=#{quest_sub},quest_cont=#{quest_cont},quest_cate=#{quest_cate},quest_public=#{quest_public}
		where quest_id = #{quest_id}
	</update>

	<!-- 문의 게시판 글 내용 삭제 -->
	<update id="bulletinDelete">
		update question_board
		set quest_del_at = 'Y', quest_del_date = now()
		where quest_id = #{quest_id}
	</update>


</mapper>