<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.CommunityMapper">

	<!-- Join절 사용하기 위한 resultMap 모두 직접 설정하기 -->
	<resultMap type="com.itwillbs.domain.Post_boardDTO" id="postMap">
		<id property="post_id" column="post_id" />
		<result property="post_id" column="post_id" />
		<result property="post_writer_id" column="post_writer_id" />
		<result property="post_sub" column="post_sub" />
		<result property="post_cont" column="post_cont" />
		<result property="post_cre_date" column="post_cre_date" />
		<result property="stad_id" column="stad_id" />
		<result property="photo_url" column="photo_url" />
		<result property="post_view" column="post_view" />
		<result property="sale_status" column="sale_status" />
		<result property="sale_ty" column="sale_ty" />
		<result property="post_del_at" column="post_del_at" />
		<result property="post_del_date" column="post_del_date" />
		<collection property="userList" resultMap="userMap">
		</collection>
	</resultMap>

	<resultMap type="com.itwillbs.domain.UserDTO" id="userMap">
		<result property="user_id" column="user_id" />
		<result property="user_pwd" column="user_pwd" />
		<result property="user_name" column="user_name" />
		<result property="user_nick" column="user_nick" />
		<result property="user_phone" column="user_phone" />
		<result property="user_email" column="user_email" />
		<result property="user_birth" column="user_birth" />
		<result property="join_date" column="join_date" />
		<result property="user_serv_agree" column="user_serv_agree" />
		<result property="user_info_agree" column="user_info_agree" />
		<result property="user_login_time" column="user_login_time" />
		<result property="user_active" column="user_active" />
		<result property="user_status" column="user_status" />
	</resultMap>



	<!-- 거래 게시글 작성 -->
	<insert id="PostJoin">
		insert into post_board (post_writer_id, post_sub, post_cont, stad_id, photo_url, sale_ty)
		values (#{post_writer_id}, #{post_sub}, #{post_cont}, #{stad_id}, #{photo_url}, #{sale_ty})
	</insert>

	<!-- 거래 게시글 목록 조회 -->
	<select id="PostList" resultMap="postMap">
		<![CDATA[
			select pb.post_sub, pb.post_cre_date, u.user_nick, pb.post_id, pb.sale_status
			from post_board pb
			join user u
			on pb.post_writer_id = u.user_id
			where pb.post_del_at = 'N' 
				and (
					case 
						when #{sale_status} = 'ALL' then pb.sale_status in ('SALE', 'COMP')
						else pb.sale_status = #{sale_status}
					end
				)
				and (
					case 
						when #{stad_id} = 'ALL' then pb.stad_id in ('SJ', 'GJ', 'DG', 'JS', 'GC', 'IC', 'SW', 'DJ', 'CW')
						else pb.stad_id = #{stad_id}
					end
				)
		]]>
	</select>


	<!-- 거래 게시판 글 내용 조회 -->
	<select id="PostOneList" resultMap="postMap">
		select pb.post_sub,pb.post_cre_date, u.user_nick,pb.post_cont,pb.post_writer_id,pb.post_view,pb.post_id,pb.stad_id,pb.sale_status,pb.sale_ty
		from post_board pb join user u
		on pb.post_writer_id = u.user_id
		where post_id = #{post_id}
	</select>
	
	  <!-- 거래 게시글 조회수 1증가 -->
	  <update id="updateCount">
		UPDATE post_board
		SET post_view=post_view+1
		WHERE post_id=#{post_id}
	  </update>
	
	
	
	
	<!-- 거래 게시판 글 내용 수정 -->
	<update id="modifyContent">
		update post_board set post_sub=#{post_sub},post_cont=#{post_cont},stad_id=#{stad_id},sale_status=#{sale_status},sale_ty=#{sale_ty}
		where post_id = #{post_id}
	</update>

	<!-- 거래 게시판 글 내용 삭제 -->
	<update id="deleteContent">
		update post_board
		set post_del_at = 'Y', post_del_date = now()
		where post_id = #{post_id}
	</update>

</mapper>