<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.StadiumMapper">

	<!-- Zone -->
	<select id="getZonesByStadiumId" resultType="com.itwillbs.domain.ZoneDTO" >
		select z.zone_id, z.zone_ty, z.stad_id
		from zone z
		join game_schedule g
		on g.stad_id = z.stad_id
		where game_id = #{game_id}
	</select>

<!-- 	seat
	<select id="getSeatsByZone" resultType="com.itwillbs.domain.ZoneDTO">
		select s.seat_id, s.seat_row, s.seat_num, z.zone_id, z.zone_ty
		from seat s
		join zone z
		on s.zone_id = z.zone_id
		join game_schedule g
		on g.stad_id = z.stad_id
		where zone_ty=#{zone_ty} and game_id = #{game_id} 
 	</select> -->

	<select id="getSeatsId" resultType="com.itwillbs.domain.SeatDTO">
		select s.seat_id, s.seat_row, s.seat_num, s.zone_id, z.zone_ty
		from seat s
		join zone z
		on s.zone_id = z.zone_id
		where s.zone_id=#{zone_id}
	</select>
	
	<select id="getUserName" resultType="com.itwillbs.domain.UserDTO">
		select *
		from user
		where user_id = #{user_id}
	</select>
	
	<select id="getGameSche" resultType="com.itwillbs.domain.Game_scheduleDTO">
		select *
		from game_schedule
		where game_id = #{game_id}
	</select>
	
	<!-- 선택된 좌석 정보 변경 -->
	<update id="postSelectedSeat" parameterType="com.itwillbs.domain.Seat_bookDTO">
<!-- 		INSERT INTO seat_book (seat_id, game_id, booked_at) -->
<!-- 		VALUES (#{seat_id}, #{game_id}, 1) -->
<!-- IN (SELECT seat_id FROM seat WHERE seat_id=#{seat_id}) -->
<!-- IN (SELECT game_id FROM game_schedule WHERE game_id=#{game_id}) -->
		UPDATE seat_book
		SET booked_at = 1
		WHERE seat_id = #{seat_id}
		  AND game_id = #{game_id}
	</update>
	
	<!-- 좌석 가격 -->
	<select id="getSeatAdultPrice" resultType="com.itwillbs.domain.Seat_priceDTO">
		select * 
		from seat_price
		where seat_price_id LIKE '%_A' AND zone_id=#{zone_id};
	</select>
	
	<select id="getSeatChildPrice" resultType="com.itwillbs.domain.Seat_priceDTO">
		select * 
		from seat_price
		where seat_price_id LIKE '%_C' AND zone_id=#{zone_id} 
	</select>
	

<!-- 	Seat --> 
<!-- 	<select id="getSeatsByZoneId" resultType="com.itwillbs.domain.SeatDTO" > -->
<!-- 		SELECT * FROM seat WHERE zone_id = #{zone_id} -->
<!-- 	</select> -->

<!-- 	<select id="getSeatById" resultType="com.itwillbs.domain.SeatDTO"> -->
<!-- 		SELECT * FROM seat WHERE seat_id=#{seat_id} -->
<!-- 	</select> -->
</mapper>
